.Home {
  margin-top: 8% !important;
}
.container {
  max-width: 1360px;
  /* margin: 0 auto; */
  width: 100%;
}
.swiper-content-wrapper {
display: flex;
  max-width: 1360px;
  width: 100%;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  justify-content: space-between;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.5) 100%
    )
    url("../../assets/footer-bg.jpg");

  background-position: center;
  background-clip: border-box;
  background-attachment: fixed;
  margin: 0 auto;
}

.swiper-content-image {
  height: 392.77px;
  align-self: stretch;
}
.swiper-content-image img {
  border-radius: 18px;
  height: 100%;
}

.content-text {
  display: flex;
  width: 547.19px;
  padding-right: 36px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.banner_movie_name h1 {
  color: var(--g-white);
  max-width: 511.19px;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 42px;
  text-transform: capitalize;
}
.banner_movie_details {
  display: flex;
  width: 511.19px;
  padding-right: 334.38px;
  align-items: center;
  padding-right: 36px;
  color: var(--boulder);
  margin-right: 20px;
  font-size: 10.1px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.21px;
}
.banner_movie_details span {
  display: flex;
  /* background-color: var(--chalice); */
  padding: 5px;
  margin-right: 10px;
}

.banner_movie_details .question_mark {
  border: 1px solid var(--boulder);
  color: var(--boulder);
}
.banner_movie_details .hd {
  background-color: var(--boulder);
}
.banner_movie_details .caption {
  background-color: var(--boulder);
}
.banner_movie_details .release_date {
  color: var(--g-white);
  background-color: var(--daisy);
}
.banner_movie_overview {
  color: var(--boulder);
  max-width: 511.19px;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 300;
  line-height: 21.6px;
}

.banner_movie_play_btn {
  display: flex;
  width: 177.89px;
  height: 40.39px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--daisy, #5a2e98);
  background: var(--daisy, #5a2e98);
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--chalice);
  cursor: pointer;
  text-decoration: none;
}

.banner_movie_play_btn i {
  font-size: 24px;
  margin-right: 10px;
}

.banner_movie_play_text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40.39px;
  align-items: center;
}
.swiper-pagination {
  right: 0 !important;
  position: absolute;
}
/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary-color);
  opacity: 1;
}
span.swiper-pagination {
  right: 0;
  position: absolute;
  margin-top: 10px;
}
span.swiper-pagination-bullet {
  background: var(--daisy);
  color: #007bff !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0.5rem !important;
  opacity: 0.6;
  margin-top: 6px !important;
}

@media (max-width: 768px) {
  .content-text {
    position: absolute;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    );
  }
  .swiper-content-image {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .swiper-content-wrapper {
    margin-top: 24%;
  }
  .content-text {
    bottom: 10%;
  }
  .banner_movie_details {
    display: none;
  }
  .swiper-content-image {
    height: 100%;
  }
  .banner_movie_overview {
    display: none;
  }
  .banner_movie_name h1 {
    font-size: 90%;
    width: 99%;
  }
}
