body::-webkit-scrollbar {
  width: 10px;
}
html {
  scroll-behavior: smooth;
}

/* For Firefox */
body {
  scrollbar-width: thin;
}

/* Style the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

/* Style the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: var(--body-color);
}
